In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'Data/scopus_bd.csv', sep=",")

C:\Users\ECSIM\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head(3)

,Authors,Author(s) ID,Title,Year,Source title,Volume,Issue,Art. No.,Page start,Page end,...,Index Keywords,ISSN,ISBN,CODEN,PubMed ID,Document Type,Publication Stage,Access Type,Source,EID
0,Vanzolini P.E.,6602373241;,"On Gymnodactylus amarali Barbour, 1925, with t...",2005,Anais da Academia Brasileira de Ciencias,77,4,NaN,595,611,...,animal; article; Brazil; classification; compa...,13765.0,NaN,NaN,1.63414e+07,Article,Final,NaN,Scopus,2-s2.0-31044450573
1,De Wagener A.L.R.,7004422261;,Constraints to the implementation of effective...,2005,Anais da Academia Brasileira de Ciencias,77,4,NaN,613,623,...,article; developing country; environmental mon...,13765.0,NaN,NaN,1.63414e+07,Article,Final,NaN,Scopus,2-s2.0-31044447222
2,"Mexias A.S., Berger G., Gomes M.E.B., Formoso ...",11739855600;7202349172;11738879800;6603689065;...,Geochemical modeling of gold precipitation con...,2005,Anais da Academia Brasileira de Ciencias,77,4,NaN,717,728,...,article; Butia,13765.0,NaN,NaN,1.63414e+07,Article,Final,NaN,Scopus,2-s2.0-31044441319

In [4]:
df.describe()

               Year  Page count      Cited by
count  52002.000000  331.000000  32595.000000
mean    2010.456463   12.356495      7.172051
std        7.717393   17.646524     13.656950
min     1945.000000    1.000000      1.000000
25%     2007.000000    8.000000      2.000000
50%     2013.000000   10.000000      3.000000
75%     2016.000000   13.500000      8.000000
max     2019.000000  257.000000    414.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52002 entries, 0 to 52001
Data columns (total 28 columns):
Authors                      52002 non-null object
Author(s) ID                 52002 non-null object
Title                        52002 non-null object
Year                         52002 non-null int64
Source title                 52002 non-null object
Volume                       50956 non-null object
Issue                        50618 non-null object
Art. No.                     3184 non-null object
Page start                   47527 non-null object
Page end                     46564 non-null object
Page count                   331 non-null float64
Cited by                     32595 non-null float64
DOI                          26533 non-null object
Link                         52002 non-null object
Affiliations                 50159 non-null object
Authors with affiliations    51612 non-null object
Abstract                     52002 non-null object
Author Keywords              41815 non-null object
Index Keywords               31146 non-null object
ISSN                         51843 non-null object
ISBN                         35 non-null object
CODEN                        11801 non-null object
PubMed ID                    2037 non-null object
Document Type                51954 non-null object
Publication Stage            52002 non-null object
Access Type                  23050 non-null object
Source                       52002 non-null object
EID                          52002 non-null object
dtypes: float64(2), int64(1), object(25)
memory usage: 11.1+ MB

In [6]:
print(df.columns)

Index(['Authors', 'Author(s) ID', 'Title', 'Year', 'Source title', 'Volume',
       'Issue', 'Art. No.', 'Page start', 'Page end', 'Page count', 'Cited by',
       'DOI', 'Link', 'Affiliations', 'Authors with affiliations', 'Abstract',
       'Author Keywords', 'Index Keywords', 'ISSN', 'ISBN', 'CODEN',
       'PubMed ID', 'Document Type', 'Publication Stage', 'Access Type',
       'Source', 'EID'],
      dtype='object')

In [7]:
df[df["Document Type"]=='Article'][['Document Type', 'Cited by']]

      Document Type  Cited by
0           Article       7.0
1           Article       6.0
2           Article       7.0
3           Article      87.0
4           Article       1.0
6           Article      35.0
7           Article      50.0
8           Article      55.0
9           Article      70.0
10          Article      45.0
20          Article       2.0
21          Article      49.0
22          Article      12.0
23          Article      83.0
24          Article      14.0
25          Article      39.0
26          Article      10.0
27          Article       2.0
28          Article       2.0
29          Article       1.0
30          Article      55.0
31          Article       4.0
33          Article      51.0
35          Article      12.0
36          Article       1.0
37          Article      35.0
38          Article      40.0
41          Article       4.0
46          Article       2.0
47          Article       1.0
...             ...       ...
51972       Article       3.0
51973       Article       9.0
51974       Article     120.0
51975       Article      74.0
51976       Article       8.0
51977       Article      28.0
51978       Article       1.0
51979       Article       2.0
51980       Article       NaN
51981       Article      12.0
51982       Article       NaN
51983       Article      17.0
51984       Article      13.0
51985       Article       2.0
51986       Article       2.0
51987       Article      27.0
51988       Article       9.0
51989       Article       1.0
51990       Article       3.0
51991       Article       3.0
51992       Article     115.0
51993       Article       4.0
51994       Article      16.0
51995       Article      19.0
51996       Article       1.0
51997       Article      62.0
51998       Article      14.0
51999       Article       NaN
52000       Article      17.0
52001       Article       NaN

[46917 rows x 2 columns]

In [8]:
df[df['Document Type']=='Article'].groupby(by='Year').count()

,Authors,Author(s) ID,Title,Source title,Volume,Issue,Art. No.,Page start,Page end,Page count,...,Index Keywords,ISSN,ISBN,CODEN,PubMed ID,Document Type,Publication Stage,Access Type,Source,EID
Year,,,,,,,,,,,,,,,,,,,,,
1945,4,4,4,4,4,0,0,4,2,0,...,4,4,0,0,4,4,4,0,4,4
1946,1,1,1,1,1,0,0,1,1,0,...,1,1,0,0,1,1,1,0,1,1
1949,1,1,1,1,1,1,0,1,1,0,...,1,1,0,0,1,1,1,0,1,1
1969,1,1,1,1,1,1,0,1,1,0,...,1,0,0,0,0,1,1,0,1,1
1970,8,8,8,8,8,8,0,8,8,0,...,7,5,0,2,5,8,8,0,8,8
1971,12,12,12,12,12,12,0,12,12,0,...,12,2,0,10,2,12,12,0,12,12
1972,9,9,9,9,9,9,0,9,9,0,...,9,0,0,8,0,9,9,0,9,9
1973,92,92,92,92,92,71,0,92,91,0,...,91,76,0,55,37,92,92,0,92,92
1974,88,88,88,88,88,88,0,88,70,0,...,79,77,0,84,4,88,88,0,88,88
1975,32,32,32,32,32,32,0,32,32,0,...,27,23,0,21,11,32,32,0,32,32
1976,34,34,34,34,34,30,0,34,34,0,...,34,26,0,14,20,34,34,0,34,34
1977,27,27,27,27,27,27,0,27,27,0,...,26,12,0,23,3,27,27,0,27,27
1978,52,52,52,52,52,51,0,51,31,1,...,52,49,0,23,28,52,52,0,52,52
1979,67,67,67,67,66,66,0,66,61,0,...,53,65,0,28,18,67,67,0,67,67
1980,73,73,73,73,73,73,0,73,71,0,...,62,73,0,48,9,73,73,0,73,73
1981,65,65,65,65,65,64,0,65,65,0,...,50,65,0,26,12,65,65,0,65,65
1982,78,78,78,78,78,76,0,77,76,1,...,60,77,0,34,6,78,78,0,78,78
1983,70,70,70,70,70,70,0,70,70,0,...,52,69,0,36,7,70,70,0,70,70
1984,99,99,99,99,99,99,0,99,99,0,...,74,98,0,44,13,99,99,0,99,99
1985,104,104,104,104,104,100,0,104,104,0,...,79,104,0,43,13,104,104,0,104,104
1986,99,99,99,99,99,99,0,99,99,0,...,70,98,0,38,9,99,99,0,99,99
1987,111,111,111,111,111,111,0,111,111,0,...,85,109,0,48,4,111,111,0,111,111
1988,90,90,90,90,90,90,0,90,90,0,...,86,89,0,40,4,90,90,0,90,90
1989,92,92,92,92,92,92,0,92,92,0,...,92,91,0,44,6,92,92,0,92,92
1990,96,96,96,96,96,96,0,96,96,0,...,95,96,0,38,9,96,96,0,96,96
1991,60,60,60,60,60,60,0,59,59,1,...,59,60,0,29,4,60,60,0,60,60
1992,61,61,61,61,61,61,0,61,61,0,...,60,61,0,11,5,61,61,0,61,61
1993,90,90,90,90,90,90,0,90,90,0,...,86,90,0,49,1,90,90,0,90,90
1994,98,98,98,98,98,98,0,98,97,0,...,65,97,0,65,4,98,98,0,98,98
1995,198,198,198,198,198,197,0,198,198,0,...,173,198,0,143,3,198,198,0,198,198
1996,451,451,451,451,451,451,0,451,450,0,...,224,448,0,285,1,451,451,0,451,451
1997,509,509,509,509,509,509,0,509,502,0,...,331,501,0,356,3,509,509,44,509,509
1998,559,559,559,559,559,559,0,558,529,0,...,322,559,0,322,1,559,559,61,559,559
1999,672,672,672,672,672,672,0,671,670,1,...,378,672,0,335,18,672,672,78,672,672
2000,624,624,624,624,624,624,0,624,610,0,...,334,624,0,362,21,624,624,121,624,624
2001,781,781,781,781,781,781,0,781,778,0,...,416,781,0,408,17,781,781,169,781,781
2002,778,778,778,778,778,778,0,778,776,0,...,576,778,0,355,25,778,778,235,778,778
2003,754,754,754,754,754,754,0,754,754,0,...,678,754,0,332,15,754,754,202,754,754
2004,807,807,807,807,807,807,0,791,779,0,...,601,807,0,356,21,807,807,222,807,807
2005,867,867,867,867,867,867,0,867,867,0,...,729,867,0,277,22,867,867,284,867,867
2006,1299,1299,1299,1299,1299,1299,0,1209,1195,0,...,1050,1299,0,405,33,1299,1299,283,1299,1299
2007,1422,1422,1422,1422,1422,1422,0,1339,1339,0,...,1059,1422,0,439,31,1422,1422,277,1422,1422
2008,1807,1807,1807,1807,1753,1807,0,1696,1696,0,...,1190,1807,0,406,46,1807,1807,390,1807,1807
2009,2085,2085,2085,2085,2008,2077,8,2010,2010,0,...,1235,2085,0,413,46,2085,2085,580,2085,2085
2010,2468,2468,2468,2468,2355,2457,20,2343,2339,0,...,1251,2468,0,375,65,2468,2468,725,2468,2468
2011,2365,2365,2365,2365,2232,2361,21,2217,2204,0,...,1257,2365,0,350,94,2365,2365,1070,2365,2365
2012,2541,2541,2541,2541,2445,2536,24,2445,2426,0,...,1429,2541,0,441,89,2541,2541,1284,2541,2541
2013,2906,2906,2906,2906,2829,2892,35,2769,2767,0,...,1357,2906,0,337,124,2906,2906,1560,2906,2906
2014,3331,3331,3331,3331,3223,3268,56,3259,3256,0,...,1640,3331,0,368,118,3331,3331,2144,3331,3331
2015,3222,3222,3222,3222,3183,3172,90,3142,3139,8,...,1691,3222,0,307,157,3222,3222,2393,3222,3222
2016,4116,4116,4116,4116,4088,3972,193,3970,3969,2,...,2434,4116,0,870,169,4116,4116,2966,4116,4116
2017,5507,5507,5507,5507,5470,5191,443,5064,5057,41,...,3904,5507,0,288,218,5507,5507,2670,5507,5507
2018,3969,3969,3969,3969,3895,3737,1420,2501,2496,260,...,2057,3969,0,345,220,3969,3969,2885,3969,3969
2019,1165,1165,1165,1165,1059,1044,566,566,527,1,...,693,1165,0,127,119,1165,1165,644,1165,1165

In [9]:
a = df['Author(s) ID'][2]
a

'11739855600;7202349172;11738879800;6603689065;6507369527;11739533300;11739290800;'

In [10]:
a.split(sep=";")

['11739855600',
 '7202349172',
 '11738879800',
 '6603689065',
 '6507369527',
 '11739533300',
 '11739290800',
 '']